body {
  background-color: #FFD700;
  margin: 0;
}

.container {
  background-color: #FFD700;
  display: flex;
  flex-flow: row;
  height: 33vh;
}

.left {
  background-color:#DAA520;
  flex: 1;
}
.center {
  background-color: #FFD700;
  flex-flow: column;
  flex: 1;
}

.right {
  background-color: #FFFF00;
  flex: 1;
}
